@use 'styles/mixins' as mx;

$component: input;

.#{$component} {
  display: flex;
  flex-direction: column;

  &,
  &__content,
  &__field {
    width: 100%;
  }

  &__content {
    @include mx.themify('background-color', 'accent-white');

    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1rem 0.5rem 1rem 1.4rem;
    height: 5.8rem;
    border-radius: 1.2rem;
  }

  &__icon {
    display: inline-flex;
    flex: 0 0 auto;
    margin-right: 1.2rem;
    width: 20px;
    height: 20px;
  }

  &__field {
    all: unset;

    @include mx.themify('color', 'accent-black');

    display: inline-flex;
    flex: 1;
    height: 100%;
    font-size: 1.6rem;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      @include mx.themify('-webkit-text-fill-color', 'accent-black');

      -webkit-background-clip: text;
    }

    &::placeholder {
      @include mx.themify('color', 'accent-gray');
    }
  }

  .button {
    height: 4.8rem;
  }
}
