@use 'styles/mixins' as mx;

$component: text;

.#{$component} {
  @include mx.themify('color', 'accent-white');

  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  &_primary {
    @include mx.themify('color', 'primary');
  }
}
