@use 'sass:map';
@use 'sass:color';
@use 'styles/colors' as clr;

$theme-base-dark: (
  primary: clr.$purple,
  secondary: clr.$purple-dark,
  accent-dark-shadow: clr.$purple-dark-shadow,
  accents-dark-deep: clr.$purple-dark-deep,
  accent-gray: clr.$gray,
  accent-gray-light: clr.$gray-light,
  accent-white: clr.$white,
  accent-muted: clr.$purple-muted,
  accent-black: clr.$purple-black,
  drop: clr.$transparent,
);

$theme-base-light: (
  primary: clr.$purple,
  secondary: clr.$purple-dark,
  accent-dark-shadow: clr.$purple-dark-shadow,
  accents-dark-deep: clr.$purple-dark-deep,
  accent-gray: clr.$gray,
  accent-gray-light: clr.$gray-light,
  accent-white: clr.$white,
  accent-muted: clr.$purple-muted,
  accent-black: clr.$purple-black,
  drop: clr.$transparent,
);

@function mergeThemes($components-themes...) {
  $theme-light: $theme-base-light;
  $theme-dark: $theme-base-dark;

  @each $theme in $components-themes {
    $theme-light: map.merge($theme-light, map.get($theme, 'light'));
    $theme-dark: map.merge($theme-dark, map.get($theme, 'dark'));
  }

  $themes: (
    'dark': $theme-dark,
    'light': $theme-light,
  );

  @return $themes;
}

$themes: mergeThemes() !default;
